$recipe-color:              $link-color;
$recipe-description-color:  $color;

.recipes-container {
    border: 2px solid invert($border-color);
    overflow: auto;
}

.recipes {

}

.recipe {
    display: block;
    padding: $spacing (2 * $spacing);
}

.recipe__image {
    margin-top: $spacing;
    float: right;
    max-width: 250px;
}

.recipe__name {
    color: $recipe-color;
    text-transform: capitalize;
}

.recipe__description {
    color: $recipe-description-color;
}
