/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 100%;
  font-family: sans-serif;
  border: 0;
  vertical-align: baseline; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-size: 16px;
  line-height: 1.5; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.75em; }

p, h1, h2, h3, h4, h5, h6,
ul, li {
  margin: 8px 0; }

p {
  font-weight: 400; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle; }

.center {
  display: block;
  text-align: center; }

.center-inline {
  margin: 0 auto; }

.heading {
  font-weight: 700; }

.link {
  color: #c83796; }
  .link:hover {
    color: #37c869; }

.container {
  padding: 8px; }

.full-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%; }

.full-height--vh {
  height: 100vh; }

.full-height__top {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.full-height__remaining {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.grid__cell {
  border: 2px solid #c83796;
  border-radius: 8px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .grid__cell:hover {
    border-color: #37c869; }

.page-header {
  padding: 0 16px;
  text-align: center;
  background: aliceblue; }
  @media screen and (min-width: 760px) {
    .page-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: left;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  @media screen and (min-width: 760px) {
    .page-header__nav {
      display: block; } }

.page-header__nav-link {
  padding: 0 16px; }

.recipes-container {
  border: 2px solid #3f3f3f;
  overflow: auto; }

.recipe {
  display: block;
  padding: 8px 16px; }

.recipe__image {
  float: right;
  max-width: 250px; }

.recipe__name {
  color: #c83796;
  text-transform: capitalize; }

.recipe__description {
  color: #000000; }

.tabs {
  margin: 0;
  padding: 0;
  list-style: none; }

.tabs__tab {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0;
  margin-right: 8px;
  border: 2px solid #c0c0c0;
  border-bottom: 0;
  border-radius: 8px 8px 0 0; }

.tabs__tab--active {
  border-color: #3f3f3f; }
  .tabs__tab--active::after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    content: ''; }

.tabs__tab-link {
  padding: 0 16px;
  font-size: 20px; }
  .tabs__tab--active .tabs__tab-link {
    color: #37c869; }
